<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="bootstrap/bootstrap@4.6.min.css") }}">
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navigation Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for("customer.service_locations") }}>Service Locations <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for("customer.daily_charts") }}>Daily Usage <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for("customer.monthly_consumption") }}>Monthly Consumption <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for("customer.device_consumption_over_time") }}>Device Consumption Over Time <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for("customer.energy_consumption_distribution") }}>Energy Consumption Distribution <span class="sr-only">(current)</span></a>
      </li>
    </ul>
      <ul class="navbar-nav">
          {% if user %}
          <li class="nav-item">
            <span class="nav-link">Welcome, {{ user[1] }}</span>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href={{url_for('logout')}}>Logout <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
      </ul>
  </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>